version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: yourstrongpassword
      MYSQL_DATABASE: parqueadero
    ports:
      - '3307:3306'
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: parqueadero_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: yourstrongpassword
      DB_NAME: parqueadero
      PORT: 3000
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "3000"

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare_tunnel
    restart: always
    depends_on:
      - api
    command: tunnel --no-autoupdate --url http://api:3000
    # opcional: guardar logs
    volumes:
      - ./cloudflare:/etc/cloudflared

volumes:
  db_data:
