version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: yourstrongpassword  # CAMBIA ESTA CONTRASEÑA
      MYSQL_DATABASE: parqueadero
    ports:
      # Exponer el puerto de MySQL al host (opcional, útil para depuración)
      - '3307:3306'
    volumes:
      # Persistir los datos de la base de datos
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: parqueadero_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: yourstrongpassword # DEBE SER LA MISMA CONTRASEÑA DE ARRIBA
      DB_NAME: parqueadero
      PORT: 3000
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
